@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glow-in {
  box-shadow: 0px 0px 4px 0px #ffd699 inset;
}

.glow-in-old {
  box-shadow: 0 0 0px 0.1px #EBCD9C inset;
}

.glow-out {
  box-shadow: 0px 2px 5px 0px #ffad6a;
}

h1,p {
  font-family: "lucida console", monospace;
  font-weight: 100;
  color: #ffd699;
}

button,input {
  font-family: "lucida console", monospace;
  font-weight: 100;
  color: #000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}