@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glow-in {
  box-shadow: 0 2px 12px 0 #bf00ff inset;
}

.glow-in-old {
  box-shadow: 0 0 5px 0.1px #EBCD9C inset;
}

.glow-out {
  box-shadow: 0 0 5px 0px #ff9a53;
}

h1,p,button,input {
  font-family: "Lucida Console", monospace;
  font-weight: 100;
}